.blogSocial{
    box-shadow: var(--box-shadow);
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    margin-top: 100px;
}

.blogSocial .socialTitle{
    margin-left: 30px;
    margin-bottom: 20px;
}

.blogSocial ul{
    display: flex;
}

.blogSocial ul li .link{
    margin-right: 10px;
}

.blogSocial ul li .link i{
    font-size: 25px;
    color: #fff;
    border-radius: 50%;
    padding: 8px 10px;
}

.blogSocial ul li .link .facebook{
    color: #fff;
    background-color: blue;
}

.blogSocial ul li .link .instagram{
    background-image: radial-gradient(red, orange);

}

.blogSocial ul li .link .whatsapp{
    background-color: rgb(8, 209, 8);

}

.blogSocial ul li .link .twitter{
    background-color: deepskyblue;

}

.blogSocial ul li .link .youtube{
    background-color: rgb(248, 25, 25);

}

.blogMsg{
    box-shadow: var(--box-shadow);
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    text-align: center;
}

.blogMsg .msgSect #msgTitle{
    font-size: 35px;

}

.blogMsg .msgSect input{
    margin-top: 30px;
    padding: 50px 30px;
    width: 300px;
    border: 3px solid rgba(0, 0, 0, .2);
    outline: none;
    border-radius: 10px;
}

.blogMsg .msgSect #sub-btn{
    background-color: coral;
    color: #fff;
    opacity: .8;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 30px;
    width: 250px;
    border: none;
    outline: none;
    border-radius: 30px;
    transition: color, background-color .3s ease;
}

.blogMsg .msgSect #sub-btn:hover{
    background-color: #fff;
    border: 2px solid coral;
    color: coral;
}

.blogConTips{
    background-color: #d0e8f2;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin-top: 20px;
}

.blogTipList{
    padding: 30px;
    position: relative;
}

.blogTipList .blog-number{
    display: flex;
    align-items: center;
    margin: 30px 0;
    padding: 0 10px;
}

.blogTipList .blog-number::after{
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.158);
    width: 85%;
    height: 2px;
    margin: 100px 20px 0 20px;
    position: absolute;
    left: 0;
}

.blogTipList .blog-number div{
    font-size: 22px;
}

.blogTipList .blog-number span{
    margin-right: 10px;
    font-size: 60px;
    opacity: .4;
    font-weight: 800;
}

.blogPopular{
    box-shadow: var(--box-shadow);
    background-color: #05286df6;
    color: #e79e4f;
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    position: relative;
}

.blogPopular .popTitle{
    text-align: center;
    color: #fff;
    margin: 20px 0 40px 0;
}

.blogPopular .popTitle h1{
    font-size: 50px;
    font-family: var(--font-head);
}

.blogPopular .blogPopItems .popItem{
    margin: 20px 30px;
    font-size: 20px;
}

.blogPopular .blogPopItems .popItem::before{
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: #e79e4f;
    position: absolute;
    left: 15px;
    margin-top: 30px;
    cursor: pointer;
    transform: rotate(90deg);
    transition: all .3s ease;
}

.blogPopular .blogPopItems .popItem:hover::before{
    width: 50px;
    
}