.sr-only {
  display: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 40px;
  height: 40px;
}

.carousel-indicators li {
  width: 15px;
}

.carCaption {
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  justify-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carCaption .carouselCapt {
  margin-bottom: 150px;
}

.carouselCapt {
  animation-delay: 0.5s;
  animation-duration: 3s;
}

.carouselCapt h1 {
  font-family: var(--font-head);
  font-size: 6.5rem;
}

.btn {
  width: 250px;
  height: 60px;
  border: 1px solid #fff;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0 auto;
  position: relative;
  z-index: 0;
  transition: all .5s ease;
}

.btn:hover {
  background: #fff;
  color: #000;
}

.btn:hover .link {
  color: #000;
}

.btn .link {
  text-decoration: none;
  color: #fff;
}

.mainBlog {
  font-family: var(--font-family);
  background-color: rgb(221, 230, 235);
}

.mainBlog img {
  height: 100vh;
}

.video-banner {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 200px;
}

.video-banner .blogVidWrap{
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.video-banner #oceanVid {
  min-width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.video-banner .videoTitle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}

.videoTitle .videoCapt {
  animation-delay: 0.5s;
  animation-duration: 3s;
}

.video-banner .videoTitle div h1 {
  font-size: 4rem;
}

.video-banner .videoTitle div h1 strong {
  color: #bca371;
}

.video-banner .videoTitle div p {
  margin: 30px 200px;
  font-size: 18px;
}

.video-banner .videoTitle .video-btn button {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.video-banner .videoTitle .video-btn button:hover {
  transform: scale(1.1);
}

.mainStoryHead{
  display: grid;
  justify-items: center;
  margin: 50px 0;
}

.mainStoryHead h1{
  font-size: 60px;
  font-family: var(--font-head);
}

.mainStoryHead p{
    font-size: 18px;
}

.mainBlog .blogNews {
  display: flex;
  position: relative;
}

.mainBlog .blogNews .blogStory {
  flex-basis: 1/3;
}

@media only screen and (max-width: 900px){
  .video-banner .videoTitle div p{
    margin: 20px 40px;
  }
  .carouselCapt h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 800px){  
  .video-banner #oceanVid{
    width: auto;
    height: 100%;
  }

  .video-banner .videoTitle{
    padding-top: 50px;
  }

  .mainBlog .blogNews {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px){ 
  .mainBlog img {
    height: 80vh;
  }

  .mainStoryHead{
    text-align: center;
  }

  .carouselCapt h1 {
    font-size: 2rem;
  }
}