.pkg-info{
    font-family: var(--font-family);
}

.secondary-head{
    color: rgba(0, 0, 0, .5);
    margin-left: 20px;
    margin-top: 50px;
}

.pkg-first{
    background-image: url('../assets/pkg3.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    color: #fff;
}

.pkg-first .pkg-banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 100px 60px 30px;
    background-color: rgba(85, 9, 66, 0.3);
    height: 100%;
} 

.pkg-first .pkg-banner h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.pkg-first .pkg-banner p{
    font-size: 20px;
    padding-right: 300px;
}

.pkg-second{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.pkg-second .pkg-data{
    grid-column: span 2/auto;
}

.pkg-second .pkg-data h1{
    font-size: 45px;
}

.pkg-second .pkg-data .pkg-drop{
    border: 1px solid rgba(0, 0, 0, .15);
    margin: 50px 20px;
    padding: 40px 30px;
    position: relative;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
}

.pkg-second .pkg-data .pkg-drop .pkg-item{
    color: #000;
    font-size: var(--font-size);
    margin-top: 10px;
    padding: 6px 0;
    cursor: pointer;
    transition: all .3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    position: relative;
    display: flex;
}

.pkg-second .pkg-data .pkg-drop .pkg-item div{
    border: 2px solid var(--font-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -20px;
    margin-right: 15px;
    position: relative;
    top: 0;
    left: 4px;
    background-color: #fff;
}

.pkg-second .pkg-data .pkg-drop .pkg-item p{
    margin-right: 30px;
}

.pkg-second .pkg-data .pkg-drop .pkg-item a{
    color: var(--font-color);
}

.pkg-second .pkg-data .pkg-drop .pkg-item::before{
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: var(--font-color);
    transform: rotate(90deg);
    position: absolute;
    top: 24px;
    left: 37px;
}

.pkg-second .pkg-data .pkg-drop .pkg-item a i{
    position: absolute;
    right: 0;
}

.drop-item{
    margin-left: 100px;
    position: relative;
}

.drop-item::before{
    content: "";
    display: block;
    width: 330px;
    height: 2px;
    background-color: var(--font-color);
    transform: rotate(90deg);
    position: absolute;
    top: 130px;
    left: -193px;
}

.drop-item p{
    margin: 20px 10px;
}

.drop-item img{
    width: 350px;
    height: 200px;
    margin: 20px 10px;
    border-radius: 10px;
}

.show-dot{
    font-size: 30px;
    color: var(--font-color);
    position: relative;
    top: -12px;
    left: -2px;
    opacity: 1;
    transition: opacity .1s ease;
}

.noshow-dot{
    opacity: 0;
    font-size: 30px;
    position: relative;
    top: -12px;
    left: -1px;
    color: var(--font-color);
    transition: opacity .3s ease;
}

.closedIcon{
    transform: rotate(0deg);
    transition: transform .2s ease-in;
}

.openIcon{
    transform: rotate(180deg);
    transition: transform .2s ease-in;
}

.item-later a i{
    position: absolute;
    right: 0;
    top: 8px;
}

.item-later span{
    margin-left: 73px;
}