.pkg-info {
  font-family: var(--font-family);
}

.secondary-head {
  color: #000;
  margin: 50px 20px;
}

.pkg-first {
  background-image: url("../assets/pkg3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  color: #fff;
}

.pkg-first .pkg-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 0 60px 30px;
  background-color: rgba(85, 9, 66, 0.3);
  height: 100%;
}

.pkg-first .pkg-banner h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.pkg-first .pkg-banner p {
  font-size: 20px;
  padding-right: 300px;
}

.mainPkg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.mainPkg .pkg-second {
  grid-column: 1/3;
}

.pkg-second .pkg-data {
  grid-column: span 2 / auto;
}

.pkg-second .pkg-data h1 {
  font-size: 45px;
}

.pkg-second .pkg-data .pkg-drop {
  margin: 10px 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#panel1bh-header{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#panel1bh-des{
  margin: 40px 0;
}

#panel1bh-des img{
  width: 60%;
  height: 200px;
  border-radius: 10px;
  margin-top: 30px;
}

#panel1a-des{
  margin: 40px 0;
}

#panel1a-header{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px){
  #panel1bh-des img{
    width: 80%;

  }
}

@media only screen and (max-width: 430px){
  #panel1bh-des img{
    width: 100%;
  }
}


@media only screen and (max-width: 600px) {
  .pkg-first .pkg-banner p {
    font-size: 18px;
    padding-right: 0;
  }
}

@media only screen and (max-width: 900px){
  .mainPkg{
    display: block;
  }
}