.swiper-slide{
    margin: 50px 10px 0 10px;
}

.swiper-slide .slide-button{
    border: none;
    outline: none;
    width: 100px;
    font-size: 20px;
    background-color: var(--font-color);
    color: #fff;
    padding: 7px 10px;
    margin: 20px 0;
    transition: all .3s ease;
}

.swiper-slide .slide-button:hover{
    filter: brightness(1.2);
}

