*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --font-color: rgb(9, 172, 248);
  --box-shadow: 10px 8px 14px rgba(0, 0, 0, .3);
  --font-size: 20px;
  --swiper-navigation-size: 15px;
  --font-family: 'Roboto Condensed', sans-serif;
  --font-head: 'Playfair Display SC', serif;
}

li{
  list-style: none;
}

a{
  color: #000;
  text-decoration: none;
}

.page-header{
  display: grid;
  justify-items: center;
  text-align: center;
  margin: 100px 0;
  opacity: .6;
  
}

.page-header h1{
  font-size: 50px;
  font-weight: 800;
}

.aus-banner{
  background-image: url("./assets/travel.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;
}

@media only screen and (max-width: 500px){
  .aus-banner{
    height: 40vh;
  }
}